<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..hci-project/css/">
    <title></title>
</head>
<body>
    <header class="d-flex shadow align-items-center justify-content-center justify-content-md-between px-3 sticky-top bg-black" style = "box-shadow: 0 0 5px">
        <a href="/index" class="navbar-brand d-flex align-items-center">
        <img src = "images/acme.PNG" style = "height: 15vh;"></img>
        </a>
    
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navmenu"
            >
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav navbar-collapse justify-content-end ms-auto" id="navmenu">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" >About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            
        </ul>
    </header>
</body>
</html>